/* From my repo: https://github.com/scorpiontornado/Corona-Virus-Website/blob/master/static/css/main.css */

/* from https://www.w3schools.com/w3css/4/w3.css and https://www.w3schools.com/cssref/css_websafe_fonts.asp */

/*
html {
  font-size: 62.5%; /* 1rem = 10px (if font-size hasn't been changed, 1rem will also = 10px /
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 3%;
  margin-top: 16rem; /* 12rem to get in line w/ end of #h, then extra 4rem whitespace. /
}

/* https://stackoverflow.com/questions/29578633/how-do-i-place-a-button-next-to-a-heading/29578663 /

#h {
  background-color: grey;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 8rem;
  margin: 0px;
  padding-left: 3%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* Centre h1 vertically: https://stackoverflow.com/a/31078418 /
  display: flex;
  align-items: center;
}
*/

.jumbotron {
  background-color: grey;
  color: white;
  padding: 2em 0 !important; /* was 48px 0px */
  margin-bottom: 2em !important; /* was 30px */
}

.jumbotron h1.display-4 {
  margin: 10px 0 !important; /* was 20px 0px 10px */
}

.container-fluid.padded {
  padding: 0 10% !important;
}

/* h1 {
  font-size: 60px;
  margin: 0px;
  margin-right: 30px;
  float: left;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
} */

p, a, code {
  font-size: 16px;
}

form {
  border-color: #404040; /* HSL 0, 0%, 25% */
  border-style: solid;
  border-radius: calc(.4rem * 1.6);
  padding: 2.5em 12% 2em 7%; /* Top right bottom left */
  margin-top: 1em;
  margin-bottom: 2.5em;
  /* display: table; /* https://stackoverflow.com/questions/4309950/how-to-align-input-forms-in-html */
}

label, input, form a {
  font-size: 20px;
}

/* Align form elements: https://stackoverflow.com/questions/4309950/how-to-align-input-forms-in-html */
/* form p {
  display: table-row;
} */

form label {
  /* display: table-cell; */
  padding: .5em;
}

form input {
  /* display: table-cell; */
  font-size: 0.9em;
  padding: 0.5em 1.5em 0.5em 0.8em;
  background-color: #f6f6f6;
  border-width: 0.1px;
  border-radius: .4rem;
  height: 2.5em;
}

form .button {
  margin: 1em 0 .5em 0;
  position: relative;
  left: .5em;
}

pre {
  background:none;
  border: none;
  padding: 0;
}

/* Select code blocks that don't have <pre> as a parent */
code:not(pre) {
  background-color: #f6f6f6;
  border-radius: .3rem;
  padding: .2rem .4rem;
}

.code_block {
  /* width: 75rem; */
  border-radius: calc(.4rem * 1.6); /* Note: * 1.6 because .4 assumed that 1rem = 16px */
  margin-bottom: 1.5em;
  margin-right: 2em;
}

a {
  color: darkcyan;
}

/* .index {
  font-size: 1.5em; /* Stacks on top of existing font-size, making it 1.5x larger
} */

/* .index h2 {
  margin-bottom: 0rem; /* Without this, there's a huge gap on index.html */
} */

input.button {
  /* Modified from Bootstrap button: https://copy-paste-css.com/ */
  /* (TODO: actually use Bootstrap button) */
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #21abd1; /* was #0d6efd */
  border-color: #21abd1; /* was #0d6efd */
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 14px;
  font-size: 16px;
  border-radius: calc(.25rem * 1.6); /* Note: * 1.6 because .25 assumed that 1rem = 16px */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  /* :hover {
      color: #fff;
      background-color: #0b5ed7;
      border-color: #0a58ca;
  } */
}

.button:hover {
  color: #fff;
  background-color: #269cbd;
  border-color: #2391b0;
}

.error {
  color: rgb(222, 70, 70);
  font-size: 1.5em;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}

/* table -- https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Styling_tables */

table {
  margin: 30px;
  table-layout: fixed;
  width: 95%;
  border-collapse: collapse;
  border: 1px solid black;
}

thead,
td {
  padding: 15px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: lightgrey;
}

tbody tr:nth-child(even) {
  background-color: white;
}

thead {
  background-color: darkcyan;
  color: white;
  font-size: 18px;
}