<!-- https://getbootstrap.com/docs/5.3/examples/footers/ -->
<div class="container">
    <footer class="py-2 mt-1 fixed-bottom bg-light border-top">
        <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3"> -->
        <div class="row justify-content-center border-bottom py-1 my-2">
            <p class="col text-center"> <strong>Disclaimer:</strong> don't be a jerk. This is for informational purposes only, don't attempt these methods (or any other attack) on a system you don't have explicit written permission to break.</p>
        </div>
        <div class="row justify-content-center pt-1">
            <text-center class="col text-center text-body-secondary">Nicholas Langford @ github.com/scorpiontornado/Something-Awesome</p>
        </div>
    </footer>
</div>