{% extends "sqli_challenge.html" %}

{% block form %}
  <form method="post" class="login mt-0 mb-3 mt-sm-2 mb-sm-4 mt-sm-2 mt-md-3 mb-md-5 py-4">
    <p class="row align-items-center mt-md-3">
      <label class="col-4" for="sqli1_form_username">Username:</label>
      <input class="col-7 offset-1 me-0" type="text" name="username" id="sqli1_form_username" placeholder="Enter Username" oninput="sqli1()">
    </p>
    <p class="row align-items-center mb-1 mb-sm-2 mb-md-3">
      <label class="col-4" for="sqli1_form_password">Password:</label>
      <input class="col-7 offset-1" type="text" name="password" id="sqli1_form_password" placeholder="Enter Password" oninput="sqli1()">
    </p>
    <p class="row my-0 mb-sm-1 mb-md-2 mb-lg-3"><input class="col-3 button" type="submit" value="Login"></p>
  </form>
{% endblock %}