<!-- https://pythonhosted.org/Flask-Bootstrap/basic-usage.html -->
<!-- Migrated to https://bootstrap-flask.readthedocs.io/en/stable/ -->
{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- Must put scripts here, not in the "scripts" block, as the scripts block is rendered at the end of the body -->
  <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
{% endblock %}
{% block title %} {{ heading }} - Nick L SAP {% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %}

{% block content %}
  {{ super() }}
  <!-- <div id="h">
    <h1>{{ heading }}</h1>
  </div> -->

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ heading }}</h1>
    </div>
  </div>
{% endblock %}