{% extends "layout.html" %}

{% block head %}
  {{ super() }}

  <!-- https://highlightjs.org/ - SQL highlighting -->
  <link rel="stylesheet" href="{{ url_for('static', filename='highlight/styles/panda-syntax-dark.min.css') }}">
  <script src="{{ url_for('static', filename='highlight/highlight.min.js') }}"></script>
{% endblock %}

{% block content %}
  {{ super() }}

  <form method="post">
    <p>Username: <input type="text" name="username" id="sqli1_form_username" oninput="sqli1()"></p>
    <p>Password: <input type="text" name="password" id="sqli1_form_password" oninput="sqli1()"></p>
    <p><input class="button" type="submit" value="Login"></p>
  </form>

  {% if error %}
    <p class="error">{{ error|safe }}</p>
  {% endif %}

  <h2>SQL query to be executed</h2>
  <pre><code class="code_block" id="sqli1_query"></code></pre>
  <script>sqli1()</script>

  <h2>Hints</h2>
  {% for hint in hints %}
    <h3>Hint {{ loop.index }}</h3>
    <p>{{ hint|safe }}</p>
  {% endfor %}
{% endblock %}