{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <!-- https://highlightjs.org/ - SQL highlighting -->
  <script src="{{ url_for('static', filename='highlight/highlight.min.js') }}"></script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- https://highlightjs.org/ - SQL highlighting -->
  <link rel="stylesheet" href="{{ url_for('static', filename='highlight/styles/panda-syntax-dark.min.css') }}">
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Your Task</h2> <!-- Todo: turn into dropdown/accordion? -->
        <There>SQLI 1 is a simple SQL injection challenge. There are two fields: username and password - both are vulnerable to SQL injection. Try to log in as any user!</p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <form method="post">
          <p>
            <label for="sqli1_form_username">Username:</label>
            <input type="text" name="username" id="sqli1_form_username" placeholder="Enter Username" oninput="sqli1()">
          </p>
          <p>
            <label for="sqli1_form_password">Password:</label>
            <input type="text" name="password" id="sqli1_form_password" placeholder="Enter Password" oninput="sqli1()">
          </p>
          <p><input class="button" type="submit" value="Login"></p>
        </form>
      
        {% if error %}
          <p class="error">{{ error|safe }}</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <h2>SQL Query Viewer</h2>
        <pre><code class="code_block" id="sqli1_query"></code></pre>
        <script>sqli1()</script>
      </div>
      <div class="col-4">
        <h2>Hints</h2>
        {% for hint in hints %}
          <h3>Hint {{ loop.index }}</h3>
          <p>{{ hint|safe }}</p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container-fluid padded">
  </div>
{% endblock %}